@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 24.12.2015

    placeholder

    fonts

    slider

    what

    what-problems

    profitably

    how-does

    order

    delivery

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /placeholder --------------- */

/* --------------- site --------------- */
.site {
    font-family:'Roboto', sans-serif;
    min-height: 100%;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 150px;
}
.site__content {
    position: relative;
    z-index: 2;
    max-width: 1920px;
    margin: 0 auto;
}
.site__header {
    position: relative;
    height: 125px;
    z-index: 3;
    max-width: 1010px;
    margin: 0 auto;
}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px;
}
.site__footer-layout {
    position: relative;
    max-width: 1911px;
    margin: 0 auto;
    font-family:'Roboto Light', sans-serif;
    width: 100%;
    height: 150px;
    background: #fff;
    text-align: center;
    padding-top: 31px;
    box-shadow: inset 0 3px 30px #cbcbcb;
}
.site__footer-layout span{
    display: block;
    font-size: 14px;
    margin-bottom: 2px;
}
.site__footer-layout a{
    font-size: 24px;
    color: #000;
    text-decoration: underline;
}
.block-title{
    font-family: 'Roboto Black', sans-serif;
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #010101;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1.6px;
    margin-bottom: 24px;
    white-space:pre-line;
    padding-bottom: 22px;
}
.block-descr {
    font-size: 14px;
    line-height: 21px;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 11px;
}
.block-title:after{
    content: "";
    position: absolute;
    width: 102px;
    height: 1px;
    bottom: 0;
    left: 50%;
    margin-left: -51px;
    background: #2d4b9b;
}
/* --------------- /site --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 0;
    left: 6px;
}
.logo img{
    width: 50px;
    height: auto;
}
/* --------------- /logo --------------- */

/* --------------- btn --------------- */
a, a:visited, a:hover, a:focus, a:active {
    text-decoration: none;
}
a {
    background: transparent;
}
.btn {
    font-size: 26px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background: -webkit-linear-gradient(top, #ffe300 0%,#ea8700 100%);
    background: linear-gradient(to bottom, #ffe300 0%,#ea8700 100%);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    padding: 13px 43px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    border: 3px solid #ffdb00;
    border-radius: 7px;
}
.btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-linear-gradient(top,  #ea8700 0%,#ffe300 100%);
    background: linear-gradient(to bottom,  #ea8700 0%,#ffe300 100%);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 4px;
}
.btn:hover, .btn:focus, .btn:active {
    color: white;
}
.btn:hover:before, .btn:focus:before, .btn:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
/* --------------- /btn --------------- */

/* --------------- site__header --------------- */
.header-title {
    width: 290px;
    margin-left: 67px;
    padding-top: 7px;
    margin-bottom: 17px;
}
.header-title span:first-child {
    display: block;
    color: #155392;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}
.header-title span:last-child {
    display: block;
    font-size: 13px;
    color: #000;
}
/* --------------- /site__header--------------- */

/* --------------- slider--------------- */
.slider{
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 30px;
}
.slider__ban{
    position: absolute;
    top: 0;
    width: 506px;
    height: 576px;
    left: 50%;
    margin-left: -505px;
    z-index: 4;
    display: none;
}
.ban__item{
    position: absolute;
    top: 0;
    left: 0;
    width: 424px;
    height: 576px;
    background: rgba(196, 196, 195, 0.87);
    padding: 22px 15px 0 15px;
    text-align: center;
    z-index: 3;
}
.ban__item>span{
    display: block;
    font-family: 'Roboto Light', sans-serif;
    font-size: 18px;
    line-height: 19px;
    margin-bottom: 16px;
}
.ban__item h2{
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 7px;
    font-family: 'Roboto Black', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.ban__item h3{
    font-size: 20px;
    font-family: 'Roboto Black', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 0 20px;
}
.slider__ban-pic{
    display: block;
    margin: 0 auto;
    width:250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 18px;
}
.slider__ban-pic div{
    transform: rotate(15deg);
    padding-left: 104px;
    padding-top: 15px;
}
.slider__ban-pic div span:first-child{
    display: block;
    color: #000;
    font-size: 24px;
    line-height: 32px;
    text-decoration: line-through;
}
.slider__ban-pic div span:last-child{
    display: block;
    color:#ffe300;
    font-size: 36px;
    font-weight: 700;
}
.slider__layout{
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50%;
}
.slider .slider__icon{
    position: relative;
    max-width: 1010px;
    margin: 0 auto;
    bottom: 35px;
    text-align: left;
}
.swiper-pagination-clickable span {
    display: inline-block;
    vertical-align: middle;
    content: '';
    background: #155391;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 7px;
    opacity: 1;
}
.swiper-pagination-clickable span:hover {
    background: #f2a800;
    border: 2px solid #ffde14;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #f2a800 !important;
    border: 2px solid #ffde14;
}
/* --------------- /slider --------------- */

/* --------------- what-problems --------------- */
.what-problems{
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.what-problems__item{
    display: inline-block;
    vertical-align: top;
    width: 280px;
    text-align: center;
    margin: 0 20px 20px 20px;
}
.what-problems__title{
    text-align: center;
    display: inline-block;
    background: #ffc001;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 15px;
}
.what-problems__title span:first-child {
    font-size:24px;
    font-weight: 700;
}
.what-problems__title span:last-child {
    display: block;
    font-size: 30px;
    text-transform: uppercase;
}
.what-problems__item p{
    font-size: 18px;
    line-height: 24px;
}
.what-problems__pic{
    padding: 0;
    width: 100%;
    height: 260px;
    border-radius: 5px;
    margin-bottom: 21px;
    background-position: center;
    background-size: cover;
}
/* --------------- /what-problems --------------- */

/* --------------- what --------------- */
.what{
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}
.what:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border: 203px solid transparent;
    border-bottom: 0px solid #fff;
    border-right:  844px solid #fff;
}
.what:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border: 203px solid transparent;
    border-bottom: 0px solid #fff;
    border-left: 844px solid #fff;
}
.what__wrap{
    max-width: 1920px;
    margin: 0 auto;
    background: #a6a6a6 url("../pic/what-backgraund.jpg")no-repeat;
    background-size: cover;
    padding: 43px 6px 0 6px;
}
.what__content{
    max-width: 1010px;
    margin: 0 auto;
}
.what__wrap .block-descr{
    color: #fff;
    white-space: pre-line;
}
.what__content ul {
    text-align: center;
    padding-bottom: 200px;
    margin-bottom: -92px;
}
.what__wrap p {
    color: #fff;
    text-align: center;
    line-height: 22px;
    font-size: 15px;
    padding: 0 5px 15px 5px;
    white-space: pre-line;
}
.what__medal{
    text-align: center;
    margin-bottom: 111px;
}
.what__medal img{
    margin: 0 10px;
}
.what__item{
    width: 280px;
    height: 158px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.what__item-pic {
    position: absolute;
    width: 118px;
    height: 121px;
    bottom: 21px;
    right: 11px;
}
.what__item-pic img{
    width: 100%;
    height: 100%;
}
.what__item-title{
    position: relative;
    display: inline-block;
    text-align: right;
    background: #fff;
    border-radius: 5px;
    padding: 6px;
    max-height: 150px;
}
.what__item-title:after{
    content: "";
    position: absolute;
    right: -38px;
    top: 0;
    width: 48px;
    height: 39px;
    background: url("../img/what-div.png") no-repeat center;
}
.what__item-title span:first-child{
    display: block;
    font-size: 15px;
    text-transform: uppercase;
}
.what__item-title span:last-child{
    display: block;
    font-size: 12px;
    white-space: pre-line;
}
.what__item>span {
    position: absolute;
    text-align: center;
    padding-top: 8px;
    right: 19px;
    bottom: 31px;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    background: #f4b200;
    border: 3px solid #ffdb00;
    border-radius: 50%;
}
.what__content ul .what__item:nth-child(even) .what__item-title:after{
    left: -38px;
    background: url("../img/what-div1.png") no-repeat center;
}
.what__content ul .what__item:nth-child(even) .what__item-title{
    text-align: left;
    margin-left: 137px;
}
.what__content ul .what__item:nth-child(even) .what__item-pic{
   left: 0;
}
.what__content ul .what__item:nth-child(even)>span{
    left: 8px;
}
.what__content ul .what__item:nth-child(odd) .what__item-title{
    margin-right: 147px;
}
/* --------------- /what --------------- */

/* --------------- how-does --------------- */
.how-does{
    position: relative;
    margin: 0 auto;
    max-width: 1278px;
}
.how-does__video{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.how-does__video a:hover{
    opacity: 0.8;
}
.how-does__video a:hover .play-video{
    box-shadow: 0 0 10px #000;
}
.how-does__video img{
    width: 100%;
    height: 100%;
}
.play-video{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 33px;
    height:30px;
    background: #000;
    opacity: 0.5;
    border-radius: 10px;
    transition: box-shadow .3s ease;
}
.play-video:hover{
    box-shadow: 0 0 10px #000;
}
.play-video:before{
    content: '';
    position: absolute;
    bottom: 10px;
    right: 6px;
    border: 5px solid transparent;
    border-left: 7px solid #fff;
}
.how-does__wrap{
    position: relative;
    width: 100%;
    height: 211px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    background-size: 220px 190px;
}
.how-does__wrap>div{
    width: 220px;
    height: 190px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -110px;
    margin-top: -95px;
}
.how-does__item{
    max-width: 375px;
    position: absolute;
    font-size: 11px;
    color:#0c58a2;
}
.item_1 {
    top: 91px;
    left: -39px;
}
.item_2 {
    left: 8px;
    top: 24px;
}
.item_3 {
    right: -45px;
    top: 108px;
}
.item_4 {
    right: 14px;
    bottom: -12px;
}
.how-does__item span{
    display: inline-block;
    vertical-align: middle;
}
.how-does__item b{
    font-weight: 400;
    font-size: 25px;
}
.how-does__consumption{
    position: relative;
    color:#fff;
    max-width: 1010px;
    height: 55px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.how-does__consumption div{
    padding-left: 6px;
    padding-top: 14px;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #ffc001;
    z-index: 3;
}
.how-does__consumption img{
    width: 20px;
    margin-top: -40px;
    display: none;
}
.how-does__consumption:before,
.how-does__consumption:after {
    content: "";
    position: absolute;
    top: 8px;
    width: 60px;
    height: 55px;
    background: url("../img/consumption-left.png")no-repeat;
    background-size: contain;
    z-index: 1;
}
.how-does__consumption:before {
    right: -36px;
    background: url("../img/consumption-rightt.png")no-repeat;
    background-size: contain;
}
.how-does__consumption:after {
    left: -22px;
}
.how-does__consumption div span {
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    font-weight: 700;
}
.how-does__consumption div span b {
    font-weight: 400;
    font-size: 21px;
}
.how-does__consumption .consumption-size {
    font-size: 15px;
}
.how-does__consumption div p{
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: left;
}
.how-does__consumption div p span{
    display: block;
    line-height: 14px;
}
.how-does__price {
    position: relative;
    max-width: 1010px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
}
.how-does__price>div{
    display: inline-block;
    vertical-align: top;
    width: 300px;
}
.how-does__video-list{
    box-shadow: 0 0 10px #000;
}
.how-does__price>div p{
    color:#000;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 22px;
}
.how-does__price>div>p>span{
    color: #ffc001;
}
.video-list__item{
    position: relative;
    padding: 0;
    width: 50%;
    float: left;
    height: 125px;
    background-position: center;
    background-size: cover;
}
.video-list__item:hover{
    opacity: 0.8;
}
.video-list__item:hover .play-video{
    box-shadow: 0 0 10px #000;
}
.how-does__price>div .price-new{
    width: 309px;
    height: inherit;
    margin-bottom: 30px;
    text-align: left;
}
.price-new span{
    color:#000;
}
.price-new span:first-child{
    display: block;
    font-size: 36px;
    margin-bottom: 15px;
}
.price-new span:nth-child(2){
    display: block;
    font-size: 36px;
    text-decoration: line-through;
}
.price-new span:nth-child(3) {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    color: #ffc001;
    font-size: 65px;
    margin-bottom: 15px;
    padding-left: 76px;
}
.price-new span:nth-child(4){
    display: inline-block;
    vertical-align: middle;
    font-size: 26px;
    transform: rotate(-90deg);
    margin-left: -12px;
    padding-left: 20px;
}
/* --------------- /how-does --------------- */

/* --------------- site__header menu --------------- */
.menu.active .menu__btn > span {
    background: transparent;
}
.menu.active .menu__btn > span:before {
    transform: rotate(45deg);
    bottom: 0;
}
.menu.active .menu__btn > span:after {
    transform: rotate(-45deg);
    top: 0;
}
.menu {
    font-family: 'Roboto Black', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
}
.menu__btn {
    border: none;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 15px;
    width: 23px;
    height: 23px;
    background: none;
}
.menu__btn > span {
    display: block;
    width: 100%;
    height: 3px;
    background: #2d4b9b;
    position: relative;
    border-radius: 2px;
}
.menu__btn > span:before, .menu__btn > span:after {
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    background: #2d4b9b;
    left: 0;
    content: '';
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border-radius: 2px;
}
.menu__btn > span:before {
    bottom: 230%;
}
.menu__btn > span:after {
    top: 230%;
}
.menu__wrap {
    position: absolute;
    top: 66px;
    left: 100%;
    cursor: default;
    -webkit-transition: margin .3s ease;
    transition: margin .3s ease;
    width: 230px;
    background: #fff;
    border-bottom: 1px solid #000;
}
.menu a, .menu a:visited {
    font-size: 13px;
    color: #000;
    font-weight: 700;
    display: block;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    border-top: 1px solid #000;
    padding: 10px 10px;
    letter-spacing: 0.7px;
}
.menu.active .menu__wrap {
    margin-left: -230px;
}
.menu__wrap a:hover {
    color:#2d4b9b;
    text-decoration: underline;
}
.call__print {
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    left: 5px;
    background: #ecf0f3;
    border-radius: 5px;
    padding: 12px 26px 12px 26px;
    color: #000;
    letter-spacing: -1px;
    transition: box-shadow .3s ease;
}
.call__print span{
    border-bottom: 1px dotted #000;
}
.call__print:hover {
    box-shadow: 0 0 10px #000;
}
.call a{
    color: #000;
}
.call{
    position: relative;
    width: 320px;
    font-size: 20px;
    bottom: 0;
}
.call__message{
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background: url("../img/header-phone.png") no-repeat center;
    background-size: contain;
}
.call__phone{
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background: url("../img/header-phone1.png") no-repeat center;
    background-size: contain;
}
.call__number{
    display: inline-block;
    vertical-align:middle;
}
.call__phone:hover {
    background: url("../img/header-phone1_h.png") no-repeat center;
    background-size: contain;
}
.call__message:hover {
    background: url("../img/header-phone_h.png") no-repeat center;
    background-size: contain;
}
/* --------------- /site__header menu --------------- */

/* --------------- profitably --------------- */
.profitably{
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}
.profitably__wrap {
    position: relative;
    width: 100%;
    display: block;
}
.profitably__wrap .profitably__item:first-child{
padding: 40px 6px 123px 6px;
}
.profitably__wrap .profitably__item:last-child{
    padding:120px 6px 40px 6px;
    margin-bottom: 20px;
}
.profitably__wrap .profitably__item:last-child:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -95px;
    top: -97px;
    width: 190px;
    height: 190px;
    border: 3px solid #ffde18;
    border-radius: 50%;
    background: #ee9b0e;
}
.profitably__wrap .profitably__item:last-child:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -225px;
    top: -290px;
    width: 451px;
    height: 451px;
    background: url("../img/profitably-icon.png") no-repeat center;
    background-size: contain;
}
.profitably__item {
    position: relative;
    padding: 70px 6px 83px 6px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.profitably__item p {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
    width: 100%;
    padding: 0 6px;
}
.profitably__bad li, .profitably__good li {
    position: relative;
    font-size: 20px;
    color: #fff;
    margin-bottom: 22px;
    padding-left: 66px;
}
.profitably__bad {
    position: relative;
    width: 100%;
    margin-bottom: 143px;
}
.profitably__good {
    position: relative;
    width: 100%;
    margin-bottom: 143px;
}
.profitably__good:after, .profitably__bad:after {
    content: "";
    bottom: -115px;
    left: 50%;
    margin-left: -18px;
    width: 37px;
    height: 93px;
    position: absolute;
    background: url("../img/profitably-arrow.png") no-repeat center;
}
.profitably__bad li:before {
    content: "";
    top: -8px;
    left: 11px;
    width: 40px;
    height: 40px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
}
.profitably__bad li:after {
    content: "";
    width: 21px;
    height: 21px;
    top: 2px;
    left: 22px;
    position: absolute;
    background: url("../img/profitably-bad.png") no-repeat center;
    background-size: contain;
}
.profitably__good li:before {
    content: "";
    width: 25px;
    height: 25px;
    top: -3px;
    left: 10px;
    position: absolute;
    background: #f9c800;
    border-radius: 50%;
    border: 3px solid #ffdb02;
}
.profitably__good li:after {
    content: "";
    width: 27px;
    top: 6px;
    left: 13px;
    height: 19px;
    position: absolute;
    background: url("../img/profitably-good.png") no-repeat center;
    background-size: contain;
}
/* --------------- /profitably --------------- */

/* --------------- order --------------- */
.order{
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.order__item {
    width: 100%;
    display: block;
    position: relative;
    height: 87px;
    text-align: center;
    padding-top: 13px;
}
.order__wrap ol .order__item:nth-child(even){
    background:#ffc001;
}
.order__wrap ol .order__item:nth-child(odd){
    background:#2356a4;
}
.order__pic{
    position: relative;
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.order__item span {
    position: relative;
    display:  inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 18px;
    margin: 0 5px;
}
.order__item p{
    width: 180px;
    display:  inline-block;
    vertical-align: middle;
    font-size: 13px;
    text-align: left;
    color:#fff
}
.order__wrap ol li{
    color: #fff;
    font-size: 18px;
}
.order__wrap ol{
    counter-reset: list 0;
}
.order__wrap ol li:nth-child(even) .order__pic{
    margin-right: 35px;
}
.order__wrap ol li:nth-child(even) .order__pic:before{
    counter-increment: list;
    content: counter(list) "";
    position: absolute;
    font-size: 25px;
    top: 19px;
    left: 67px;
}
.order__wrap ol li:nth-child(odd) .order__pic{
    margin-left: 35px;
}
.order__wrap ol li:nth-child(odd) .order__pic:before{
    counter-increment: list;
    content: counter(list) "";
    position: absolute;
    font-size: 25px;
    top: 18px;
    left: -28px;
}
/* --------------- /order --------------- */

/* --------------- question --------------- */
.question{
    position: relative;
    text-align: center;
    background: url("../img/question-bg.png")no-repeat;
    background-position: bottom center;
    padding-bottom: 10px;
}
.question-feedback ul{
    font-family: 'Roboto Light', sans-serif;
    display: block;
    margin-top: 53px;
}
.question-feedback ul li a{
    color: #000;
    margin-left: 10px;
}
.question-feedback ul li{
    font-size: 17px;
    color: #000;
    padding-bottom: 25px;
}
/* --------------- /question --------------- */

/* --------------- delivery --------------- */
.delivery{
    text-align: center;
    margin-bottom: 30px;
}
.map{
    max-width: 1010px;
    margin: 0 auto;
    position: relative;
}
.map__pic{
    width: 100%;
    height: 190px;
    background-position: center;
    background-repeat:no-repeat;
    background-size: contain;
    margin-bottom: 20px;
}
.delivery ul{
    margin-bottom: 30px;
}
.delivery__item{
    width: 150px;
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    text-align: center;
    background: #5d80b7;
    opacity: 0.7;
    border-radius: 5px;
    padding: 6px;
    font-size: 14px;
    color: #fff;
    white-space: pre-line;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.delivery__title{
    width: 181px;
    height: 89px;
    margin: 0 auto 6px auto;
    background-position: center;
    background-repeat:no-repeat;
    background-size: contain;
}
.delivery__all-town{
    width: 181px;
    margin: 0 auto;
    background: #ffc001;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.delivery__address{
    margin-bottom: 34px;
}
.delivery__address span{
    font-size: 18px;
    display: block;
    margin-bottom: 7px;
    color: #000;
}
/* --------------- /delivery--------------- */

@media (min-width: 768px){

    /* --------------- map --------------- */
    .map__pic {
        height: 300px;
        margin-bottom: 33px;
    }
    /* --------------- /map --------------- */

    /* --------------- order --------------- */
    .order__item span{
        font-size: 36px;
        margin: 0 21px;
    }
    .order__item p{
        width: 470px;
        font-size: 24px;
    }
    .order__pic {
       width: 150px;
       height: 150px;
    }
    .order__item {
        height: 196px;
        padding-top: 22px;
    }
    .order__wrap ol li:nth-child(even) .order__pic{
        margin-right: 85px;
    }
    .order__wrap ol li:nth-child(even) .order__pic:before{
        font-size: 36px;
        top: 57px;
        left: 176px;
    }
    .order__wrap ol li:nth-child(odd) .order__pic{
        margin-left: 85px;
    }
    .order__wrap ol li:nth-child(odd) .order__pic:before{
        font-size: 36px;
        top: 57px;
        left: -45px;
    }
    /* --------------- /order --------------- */

    /* --------------- site__header --------------- */
    .site__header {
        height: 172px;
    }
    .header-title {
        width: 290px;
        margin-left: 152px;
        padding-top: 8px;
        margin-bottom: 10px;
    }
    .block-descr{
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 34px;
    }
    .header-title span:first-child {
        font-size: 24px;
        line-height: 27px;
        letter-spacing: 0.6px;
    }
    .header-title span:last-child {
        font-size: 18px;
        line-height: 26px;
    }
    .site__footer-layout span {
        font-size: 24px;
    }
    .site__footer {
        height: 222px;
    }
    .site:after {
        height: 222px;
    }
    .site__footer-layout {
        height: 222px;
        padding-top: 28px;
    }
    .call {
        width: initial;
        font-size: 24px;
        padding-left: 150px;
    }
    .call__phone,
    .call__message{
        width: 36px;
        height: 37px;
    }
    .call__print{
        margin-right: 90px;
    }
    .call__message{
        margin-right: 10px;
    }
    .call__phone{
        margin-right: 7px;
    }
    .menu__wrap {
        top: 100px;
    }
    .menu__btn {
        top: 50px;
        width: 40px;
        height: 40px;
    }
    .menu__btn > span:before {
        bottom: 300%;
    }
    .menu__btn > span:after {
        top: 300%;
    }
    /* --------------- /site__header --------------- */

    /* --------------- site --------------- */
    .block-title {
        font-size: 36px;
        line-height: 44px;
    }
    /* --------------- /site --------------- */

    /* --------------- logo --------------- */
    .logo img{
        width: 100%;
    }
    /* --------------- /logo --------------- */

    /* --------------- what-problems --------------- */
    .what-problems{

    }
    /* --------------- /what-problems --------------- */

    /* --------------- what__item --------------- */
    .what__wrap {
        padding: 66px 6px 17px 6px;
    }
    .what__item {
        width: 330px;
    }
    /* --------------- /what__item --------------- */

    /* --------------- how-does --------------- */
    .how-does__price>div {
        width: 365px;
    }
    .video-list__item {
        height: 200px;
    }
    .how-does__price>div p {
        text-align: left;
        padding-right: 10px;
    }
    .price-new span:nth-child(3){
        font-size: 130px;
        line-height: 99px;
        margin-bottom: 24px;
        padding-left: 0;
    }
    .price-new span:nth-child(4){
        margin-left: -23px;
    }
    .how-does__video {
        margin-bottom: 60px;
    }
    .how-does__wrap {
        margin-bottom: 80px;
    }
    .how-does__wrap{
        background-size: 404px 328px;
    }
    .how-does__wrap {
        height: 350px;
    }
    .how-does__item b {
        font-size: 36px;
    }
    .how-does__item {
        font-size: 15px;
    }
    .item_1 {
        top: 106px;
        left: -188px;
    }
    .item_2 {
        left: -31px;
        top: -33px;
    }
    .item_3 {
        right: -127px;
        top: 116px;
    }
    .item_4 {
        right: -10px;
        bottom: -90px;
    }
    .how-does__item b {
        font-weight: 400;
        font-size: 40px;
    }
    .how-does__consumption {
        max-width: 1010px;
        height: 107px;
        margin-bottom: 60px;
    }
    .how-does__consumption div {
        padding-left: 12px;
        padding-top: 16px;
    }
    .how-does__consumption img {
        display: inline-block;
        width: 40px;
        margin-top: -80px;
    }
    .how-does__consumption div span {
        font-size: 20px;
        margin-right: 5px;
    }
    .how-does__consumption div span b {
        font-size: 56px;
    }
    .how-does__consumption .consumption-size {
        font-size: 40px;
    }
    .how-does__consumption div p span {
        line-height: 32px;
    }
    .how-does__consumption:before,
    .how-does__consumption:after {
        content: "";
        position: absolute;
        top: 16px;
        width: 87px;
        height: 106px;
        z-index: 1;
    }
    .how-does__consumption:after {
        left: -39px;
    }
    .how-does__consumption:before {
        right: -39px;
    }
    /* --------------- /how-does --------------- */

    /* --------------- profitably --------------- */
    .profitably__bad li, .profitably__good li {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 37px;
    }
    .profitably__item p {
        font-size: 24px;
        text-align: center;
        line-height: 25px;
        padding: 0 170px;
    }
    .profitably__bad,
    .profitably__good {
        position: relative;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 146px;
    }
    /* --------------- /profitably --------------- */

    /* --------------- question --------------- */
    .question-feedback ul li {
        font-size: 24px;
    }
    .question {
        padding-bottom: 59px;
    }
    /* --------------- /question --------------- */
}

@media (min-width: 1024px) {

    /* ---------------block-descr --------------- */
    .block-descr {
        padding-top: 22px;
    }
    /* ---------------block-descr --------------- */

    /* --------------- menu --------------- */
    .menu {
        top: 100px;
    }
    .menu__btn {
        display: none;
    }
    .menu__wrap {
        left: auto;
        top: 37px;
        background: transparent;
        width: 852px;
        text-align: justify;
        position: relative;
        border: none;
    }
    .menu a {
        display: inline-block;
        vertical-align: top;
        padding: 0;
        border: none;
    }
    .menu__wrap:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
    .site__header {
        padding-top: 18px;
        height: 185px;
    }
    .call {
        position: absolute;
        right: 0;
        top: 48px;
        width: inherit;
    }
    .menu a {
        text-decoration: underline;
    }
    /* --------------- /menu --------------- */

    /* --------------- logo --------------- */
    .logo {
        top: 19px;
    }
    /* --------------- /logo--------------- */

    /* --------------- order --------------- */
    .order__wrap{
        margin-top: 58px;
    }
    .order__wrap ol .order__item:nth-child(odd) p {
        text-align: right;
    }
    .order__wrap ol .order__item:nth-child(odd) {
        padding-right:302px;
    }
    .order__wrap ol .order__item:nth-child(even) {
        padding-left: 302px;
    }
    .order__pic {
        width: 175px;
        height: 175px;
    }
    .order__wrap ol li:nth-child(odd) .order__pic:before {
        font-size: 36px;
        top: 64px;
        left: -38px;
    }
    .order__wrap ol li:nth-child(even) .order__pic {
        margin-right: 69px;
    }
    .order__item {
        padding-top: 10px;
    }
    .order__wrap ol li:nth-child(even) .order__pic:before {
        top: 70px;
        left: 199px;
    }
    .order__wrap ol li:nth-child(odd) .order__pic {
        margin-left: 56px;
    }
    .order {
        margin-bottom: 72px;
    }
    /* --------------- /order --------------- */

    /* --------------- slider --------------- */
    .slider__layout {
        height: 576px;
        background-size: auto;
        padding-bottom: inherit;
    }
    .slider__ban {
        display: block;
    }
    .slider .slider__icon {
        bottom: 48px;
        text-align: right;
    }
    /* --------------- /slider --------------- */

    /* --------------- what-problems --------------- */
    .what-problems {
        margin-bottom: 47px;
    }
    .what-problems__item {
        width: 223px;
    }
    /* --------------- /what-problems --------------- */

    /* --------------- what --------------- */
    .what{
        margin-bottom: 38px;
    }
    .what__item {
        width: 350px;
    }
    .what__content ul{
        background: url("../img/what-line.png") no-repeat 50% 24%;
        background-size: 214px 849px;
        padding-bottom: 130px;
        margin-bottom: 40px;
    }
    .what__content ul .what__item:first-child{
        margin-top: -25px;
    }
    .what__item-title span:first-child {
        font-size: 24px;
    }
    .what__item-title span:last-child {
        font-size: 18px;
    }
    .what__item-pic {
        width: 151px;
        height: 136px;
    }
    .what__content ul .what__item:nth-child(odd){
        margin-top: -52px;
    }
    .what__content ul .what__item:nth-child(odd) {
        margin-right: 141px;
    }
    .what__content ul .what__item:nth-child(odd) .what__item-title {
        margin-right: 167px;
    }
    .what__item-pic {
        position: absolute;
        width: 151px;
        height: 136px;
        bottom: 0;
        right: 0;
    }
    .what__item>span{
        right: 8px;
        bottom: 9px;
    }
    .what__wrap p{
        line-height: 24px;
        font-size: 18px;
        padding: 0 5px 25px 5px;
    }
    .what__content ul .what__item:nth-child(even){
        margin-top: 55px;
    }
    .what__content ul .what__item:nth-child(even) .what__item-title {
        margin-left: 170px;
    }
    /* --------------- /what --------------- */

    /* --------------- how-does --------------- */
    .how-does {

    }
    .how-does__consumption {
        margin-bottom: 110px;
    }
    .how-does__price>div {
        width: 503px;
    }
    .video-list__item{
        height: 255px;
    }
    .how-does__price>div:first-child {
        padding-right: 25px;
    }
    .how-does__price>div .price-new {
        text-align: left;
        margin-top: -14px;
    }
    .how-does__price {
        margin-bottom: 92px;
    }
    .how-does__wrap {
        background-size: 626px 474px;
    }
    .how-does__item {
        font-size: 24px;
    }
    .how-does__item b {
        font-size: 72px;
    }
    .how-does__wrap {
        height: 500px;
    }
    .how-does__wrap > div {
        width: 626px;
        height: 474px;
    }
    .how-does__wrap {
        margin-bottom: 116px;
    }
    .item_1 {
        top: 86px;
        left: -367px;
    }
    .item_2 {
        left: -127px;
        top: -88px;
    }
    .item_3 {
        right: 103px;
        top: 116px;
    }
    .item_4 {
        left: 23px;
        bottom: 103px;
    }
    .how-does__item span {
        display: inline-block;
        vertical-align: middle;
    }
    .how-does__price>div p {
        margin-bottom: 30px;
        line-height: 24px;
        padding-right: 0;
    }
    .how-does__consumption {
        max-width: 1010px;
        height: 107px;
    }
    .how-does__consumption div {
        padding-left: 12px;
        padding-top: 16px;
    }
    .how-does__consumption img {
        width: 40px;
        margin-top: -80px;
    }
    .how-does__consumption div span {
        font-size: 24px;
        margin-right: 19px;
    }
    .how-does__consumption div span b {
        font-size: 72px;
    }
    .how-does__consumption .consumption-size {
        font-size: 60px;
    }
    .how-does__consumption div p span {
        line-height: 32px;
    }
    .how-does__consumption:before,
    .how-does__consumption:after {
        content: "";
        position: absolute;
        top: 16px;
        width: 87px;
        height: 106px;
        z-index: 1;
    }
    .how-does__consumption:after {
        right: -35px;
    }
    .how-does__consumption:before {
        right: -38px;
    }
    .how-does__video {
        margin-bottom: 60px;
        margin-top: 65px;
    }
        /* --------------- /how-does --------------- */

    /* --------------- profitably__item--------------- */
    .profitably__item {
        display: table-cell;
        width: 50%;
    }
    .profitably__wrap .profitably__item:first-child {
        padding: 64px 6px 55px 6px;
    }
    .profitably__wrap .profitably__item:last-child {
        padding: 64px 6px 55px 6px;
        margin-bottom: 20px;
    }
    .profitably__wrap .profitably__item:first-child p{
        margin: 0 92px 28px auto;
    }
    .profitably__wrap .profitably__item:last-child p{
        margin: 0 auto 28px 142px;
    }
    .profitably__item p {
        text-align: left;
        padding: 0;
        width: 353px;
    }
    .profitably__wrap {
        display: table;
        margin-bottom: 84px;
    }
    .profitably__bad, .profitably__good {
        position: relative;
        width: 438px;
        min-height: 550px;
    }
    .profitably__bad {
        margin-right: 68px;
    }
    .profitably__good {
        margin-left: 76px;
    }
    .profitably__wrap .profitably__item:last-child:before,
    .profitably__wrap .profitably__item:last-child:after {
        display: none;
    }
    .profitably__wrap .profitably__bad:before {
        content: "";
        position: absolute;
        right: -171px;
        bottom: -213px;
        width: 190px;
        height: 190px;
        border: 3px solid #ffde18;
        border-radius: 50%;
        background: #ee9b0e;
        z-index: 1;
    }
    .profitably__wrap .profitably__good:before {
        content: "";
        position: absolute;
        left: -308px;
        bottom: -273px;
        width: 451px;
        height: 451px;
        background: url("../img/profitably-icon.png") no-repeat center;
        background-size: contain;
        z-index: 1;
    }
    .profitably__good li:before {
        width: 38px;
        height: 38px;
        top: -9px;
        left: 5px;
    }
    /* --------------- /profitably__item --------------- */

    /* --------------- delivery --------------- */
    .map__pic {
        width: 1005px;
        margin: 0 auto 30px auto;
        position: relative;
        height: 522px;
    }
    .delivery {
        text-align: center;
        margin-bottom: 128px;
    }
    .delivery__item{
        position: absolute;
    }
    .delivery__item:nth-child(1) {
        left: 12px;
        top: 134px;
    }
    .delivery__item:nth-child(2){
        left: 190px;
        top: 188px;
    }
    .delivery__item:nth-child(3){
        left: 212px;
        top: 265px;
    }
    .delivery__item:nth-child(4){
        left: 288px;
        top: 321px;
    }
    .delivery__item:nth-child(5){
        bottom: 81px;
        left: 453px;
    }
    .delivery__item:nth-child(6){
        left: -19px;
        bottom: 238px;
    }
    .delivery__item:nth-child(7){
        left: 31px;
        bottom: 157px;
    }
    .delivery__item:nth-child(8){
        bottom: 101px;
        left: 104px;
    }
    .delivery__item:nth-child(9){
        bottom: 83px;
        left: 259px;
    }
    .delivery__item:nth-child(10){
        bottom: 9px;
        left: 404px;
    }
    /* --------------- /delivery --------------- */
}